<header id="encabezado">
  <div class="logo">
    <!-- <img src="/public/images/Milessima.png" alt="logo"> -->
  </div>
  <h1>Milessima Gestión de Depósitos</h1>
</header>

<aside id="sidebar">
  <ul class="menu">
    <li>
      <button id="btnProductos" class="btnP">Productos</button>
      <ul id="submenuProductos" class="submenu" style="display: none;">
        <li><a id="" href="/productos/consulta">Consulta</a></li>
        <li><a id="addView" href="/productos/agregar">Agregar</a></li>
        <li><a href="/productos/eliminar">Eliminar</a></li>
      </ul>
    </li>
    <li><button id="btnC" class="Boton">Cerrar Sesión</button></li>
  </ul>
</aside>

<main id="seccion-principal">
  <section id="firstWrap" class="conteiner">
    <h1 id="title">Bienvenido</h1>
    <div class="form-container"></div>
  </section>
</main>

<footer id="foot">
  <h1>© 2024 Milessima</h1>
</footer>

<script src="user.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>